<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="oferta">
            <h2><span>Oferta</span> {{ oferta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{ oferta.descripcion }}</span>
                </dd>
                <dt><span>Precio Habitual</span></dt>
                <dd>
                    <span>{{ oferta.precioHabitual }}</span>
                </dd>
                <dt><span>Precio Rebajado</span></dt>
                <dd>
                    <span>{{ oferta.precioRebajado }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ oferta.link }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/oferta', oferta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
